@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Səbət</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th>Kurs ad:</th>
                            <th>Kurs Qiymət:</th>
                            <th>Proseslər</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    @item.GetCurrentPrice AZN @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} tətbiq olundu)" : "")
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="Delete" asp-route-courseId="@item.CourseId">Sil</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {

                            <tr>
                                <td>Endirim faizi</td>
                                <th colspan="2"> % @Model.DiscountRate.Value</th>
                            </tr>

                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Endirimli qiymət" : "Ümumi qiymət")</td>
                            <th colspan="2">@Model.TotalPrice AZN</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" endirim kodu tətbiq olundu
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount"> (Ləğv et)</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyCode.Code">
                            <button class="btn btn-outline-secondary" type="submit">Tətbiq et</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Endirim kodu istifadəsizdir.</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Ödəniş məlumatları</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Ana səhifə</a>
                }
                else
                {
                    <div class="alert alert-info">Boşdur</div>
                }
            </div>
        </div>
    </div>
</div>